/*  */
* { 
    box-sizing: border-box; 
    margin: 0;
    padding: 0; 
}
:root {
    --text-color: rgb(0, 0, 0);
    --nav-color: #707070;
    --background-color: rgb(159, 205, 214);
}

@font-face {
    font-family: kanit-light;
    src:
     local('Kanit'),

     url('../fonts/kanit-light-webfont.woff2') 
     format('woff2'),

     url('../fonts/kanit-light-webfont.woff') 
     format('woff'),

     url('../fonts/Kanit-Light.ttf')
     format('truetype');
}
@font-face {
    font-family: marker-felt;
    src:
     local('Marker Felt'),

     url('../fonts/Marker Felt.woff2') 
     format('woff2'),

     url('../fonts//Marker Felt.woff') 
     format('woff'),
        
     url('../fonts/Marker Felt.ttf')
     format('truetype');

}

body {
    background-color: var(--background-color);
    font-family: kanit-light;
}
.dark{ /* FEEDBACK body.dark is veiliger */
    --text-color: rgb(255, 255, 255);
    --nav-color: #707070;
    --background-color: #272b37;
    transition: all 0.5s; /* FEEDBACK hoort thuis in de body selector */
}


header img.background-top{
    position: fixed;
    z-index: -1;
    top: -10px;
    max-width: 100%;
    pointer-events: none;
}
header {
    top: 0;
    width: 100%;
    position: fixed;
    color: var(--text-color);
    font-family: Marker Felt; /* FIXME gebruik naam die bovenaan is aangemaakt */
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
}
ul.breadcrumb li {
    display: flex;
    font-size: 1rem;
}
ul.breadcrumb li+li:before {
    padding: 4px;
    color: black; /*FEEDBACK gebruik variabelen voor kleur*/
    content: "/\00a0";
}
ul.breadcrumb li a:hover {
    color: var(--nav-color);
    text-decoration: underline;
}

nav ul li a:link {
    font-size: 1rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;

}
nav{
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 2rem;
}
nav a.current-page img {
    width: 70px;
    height: auto;
}
nav a img {
    width: 120px;
    height: auto;
}
nav button{
    margin-left: auto;
    border: none;
    background-color: transparent;
    z-index: 2;
}
nav button img{
    display: block;
    max-width: 30px;
    transform: rotate(180deg);
    transition: transform 0.5s ease-in-out;
}
nav .drop-down {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    overflow-x: hidden;
    transition: 0.5s;
}
nav.open .drop-down{
    height: 100%;
}
nav.open button img{
    transform: rotate(0deg);
}

:link {
    color: var(--text-color);  
    text-decoration: none;
}
:visited {
    color: var(--text-color);   
}

nav ul {
    display: flex;
    list-style-type: none;
}
nav ul li a {
    display: block;
    padding: 1rem;
    text-align: center;
}

h1 {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 3.3rem;
}
.content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.content a {
    padding: 10px;
}
.drop-down a {
    text-decoration: none;
    font-size: 36px;
    color: var(--text-color);
    display: block;
} 
.drop-down a:hover {
    color: var(--nav-color);
}
.drop-down .close {
    position: absolute;
    top: 20px;
    right: 45px;
}
span { /* FEEDBACK niet goed! Dit wordt op alle span elementen toegepast */
    position: absolute;
    top: 20px;
    right: 45px;
}

main{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) ); /* FEEDBACK cadeautje, tracht in de toekomst spontaan moderne technologieën aan te grijpen */
    margin-top: 10vw;
}
main a {
    display: block;
    margin: 0 auto;
    font-family: Marker Felt; /* FIXME gebruik naam die bovenaan is aangemaakt, namen uit twee delen steeds tussen "aanhalingstekens" */
    color: var(--text-color);
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 90px;
}
h2{
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}
p {
    margin-top: 1rem;
    font-size: 1rem;
}
strong {
    font-size: 1rem;
}
main a img {
    width: 100%;
    height: auto;
    border-radius: 15%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    z-index: -2;
}

footer div a{
    position: relative;
    left: 10px;
    bottom: 10px;
    font-size: 1rem;
    color: var(--text-color);
    z-index: -1;
}
footer div img.background-bottom{
    position: relative;
    display: block;
    z-index: -3;
    max-width: 100%;
    height: auto;
    bottom: -25px;
}

@media (min-width: 481px){
    header img.background-top{
        top: -40px;
    }
}
@media (min-width: 769px){
    header img.background-top{
        top: -60px;
    }
}
@media (min-width: 993px){
    header img.background-top{
        top: -80px;
    }
}
@media (min-width: 1201px){
    header img.background-top{
        top: -100px;
    }
}
